.container {
  display: flex;
}

.sidebar {
  flex: 1;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.grid div {
  // position: relative;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid div.selected {
  outline: 2px solid #000;
}

.color-quantity {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  font-size: 12px;
}
